.check_page_css {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    font-size: 10pt;
    width: 8in!important;
    zoom: 1.25;


    &:after {
        display: block;
        content: ".";
        width: 8.25in;
        visibility: hidden;
    }

    .check_div, .page_details_1, .page_details_2 {
        position: absolute;
        height: 3.25in;
    }

    .check_div > * {
        position: absolute;
        white-space: nowrap;
    }

    .sequence_number {
        text-align: right;
        font-size: 1.3em;
    }

    .page_details {
        width: 8in;
    }

    .page_details .sequence_number {
        height: 0.3in;
    }

    .page_details .summary_line {
        width: 100%;
        margin-bottom: 0.1in;
    }

    .page_details .summary_line span {
        padding: 0 0.1in;
    }

    .page_details .stub_lines td {
        padding: 0.01in 0.05in;
    }

    .page_details .page_total_amount {
        position: absolute;
        right: 0.1in;
        text-align: right;
        font-weight: bold;
    }
}

.o-watermark {
    width: 300px;
    top: 0.3in;
    font-size: 80pt;
    left: 250px;
    position: absolute;
    color: lightgray;
    z-index: -1;
    transform: rotate(-27deg);
}
